In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
exam_df = pd.read_csv("./Datasets/exams.csv")
exam_df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
17,male,group A,some college,free/reduced,none,44,52,46
44,male,group D,associate's degree,free/reduced,completed,86,86,94
46,female,group C,some high school,standard,completed,59,72,71
87,male,group E,some college,free/reduced,none,49,43,42
51,female,group C,high school,standard,none,65,73,72

In [3]:
exam_df.describe()

       math score  reading score  writing score
count  100.000000      100.00000     100.000000
mean    67.430000       71.03000      70.650000
std     16.168466       15.88879      16.410993
min     10.000000       22.00000      24.000000
25%     56.000000       60.75000      59.000000
50%     70.500000       71.00000      71.500000
75%     79.250000       83.25000      83.000000
max     95.000000      100.00000     100.000000

In [4]:
from sklearn import preprocessing

exam_df[['math score']]= preprocessing.scale(exam_df[['math score']].astype('float64'))

exam_df[['reading score']]= preprocessing.scale(exam_df[['reading score']].astype('float64'))
exam_df[['writing score']]= preprocessing.scale(exam_df[['writing score']])

In [5]:
exam_df[['math score']].values[0:5]

array([[ 0.90567658],
       [-1.45641745],
       [ 0.28407289],
       [-0.21321007],
       [ 0.53271436]])

In [6]:
exam_df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
21,female,group C,high school,standard,completed,1.216478,1.516211,1.246269
70,male,group B,associate's degree,standard,completed,0.594875,-0.065152,0.266402
46,female,group C,some high school,standard,completed,-0.524012,0.061357,0.021435
98,female,group D,bachelor's degree,free/reduced,completed,-0.710493,0.061357,0.450127
33,female,group B,associate's degree,standard,none,0.408394,0.440884,0.633852

In [7]:
exam_df.describe()

         math score  reading score  writing score
count  1.000000e+02   1.000000e+02   1.000000e+02
mean  -4.130030e-16  -8.049117e-17  -3.541611e-16
std    1.005038e+00   1.005038e+00   1.005038e+00
min   -3.569870e+00  -3.101369e+00  -2.856927e+00
25%   -7.104930e-01  -6.502565e-01  -7.134663e-01
50%    1.908323e-01  -1.897636e-03   5.205548e-02
75%    7.347356e-01   7.729703e-01   7.563355e-01
max    1.713761e+00   1.832484e+00   1.797445e+00

In [8]:
exam_df[['math score']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   math score  100 non-null    float64
dtypes: float64(1)
memory usage: 928.0 bytes

In [9]:
exam_df['parental level of education'].unique()

array(["associate's degree", "bachelor's degree", 'some high school',
       'high school', 'some college', "master's degree"], dtype=object)

In [10]:
parental_level_of_education = [
   "some high school",
    "high school",
    "some college",
    "associate's degree",
    "bachelor's degree",
    "master's degree"
]

In [11]:
label_encoding = preprocessing.LabelEncoder()
label_encoding = label_encoding.fit(parental_level_of_education)

In [12]:
exam_df['parental level of education']=\
label_encoding.transform(exam_df['parental level of education'].astype(str))

In [13]:
exam_df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
9,female,group C,0,standard,none,1.713761,1.832484,1.491236
16,female,group C,5,standard,none,0.657035,0.567393,0.450127
38,female,group D,1,free/reduced,none,0.594875,0.504139,0.940061
41,female,group B,5,free/reduced,none,-0.710493,-0.128407,-0.101049
0,female,group D,0,free/reduced,none,0.905677,1.199938,1.062544

In [14]:
label_encoding.classes_

array(["associate's degree", "bachelor's degree", 'high school',
       "master's degree", 'some college', 'some high school'],
      dtype='<U18')

when there's no ordering among existing categories:

In [15]:
exam_df= pd.get_dummies(exam_df,columns=['race/ethnicity'])

In [16]:
exam_df.sample(5)

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
55,female,3,standard,completed,1.154318,1.263193,1.797445,0,0,0,1,0
10,male,4,free/reduced,completed,-0.088889,-1.140479,-0.835950,1,0,0,0,0
78,male,2,free/reduced,completed,1.278639,1.516211,0.878819,0,0,0,0,1
11,female,2,standard,completed,0.097592,0.124611,0.388885,0,0,1,0,0
44,male,0,free/reduced,completed,1.154318,0.946920,1.429995,0,0,0,1,0

In [17]:
exam_df=pd.get_dummies(exam_df,columns=["gender","lunch","test preparation course"])

In [18]:
exam_df.sample(5)

,parental level of education,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,gender_female,gender_male,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
73,4,-1.207776,-0.507934,-0.346016,0,0,0,1,0,1,0,1,0,0,1
26,2,0.284073,0.440884,0.572610,0,0,0,1,0,1,0,0,1,0,1
23,1,1.402960,1.073429,1.552478,0,0,0,0,1,1,0,0,1,0,1
27,5,0.532714,0.314375,0.021435,0,1,0,0,0,1,0,0,1,0,1
25,2,0.346233,-0.507934,-0.774708,0,1,0,0,0,0,1,1,0,1,0

In [19]:
from sklearn.model_selection import train_test_split

X= exam_df.drop("math score",axis=1)
Y=exam_df["math score"]

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [20]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression(fit_intercept=True).fit(x_train,y_train)

In [21]:
print("training score (R square):",linear_model.score(x_train,y_train))

training score (R square): 0.8934891385748017

In [22]:
y_pred=linear_model.predict(x_test)

In [23]:
from sklearn.metrics import r2_score
print("testing score (R square){}:".format(r2_score( y_test,y_pred )))

testing score (R square)0.9281077711822026:

*** When we use all of columns in our one hot encoded labels, fit intercept should be false.

However, even you use fit intercept= true with one hot encoding, for linear regression estimator object sklearn would make sure that fit intercept is false under the hood so that not to fall for dummy variable trap.

In [24]:
linear_model = LinearRegression(fit_intercept=False).fit(x_train,y_train)

In [25]:
print("training score ", linear_model.score(x_train,y_train))

training score  0.8934891385748017

In [26]:
y_pred = linear_model.predict(x_test)

In [27]:
from sklearn.metrics import r2_score

print("testing score", r2_score(y_test,y_pred))

testing score 0.9281077711822046

In [28]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_pred_actual.head(5)

    predicted    actual
78   1.393568  1.278639
93  -1.435776 -1.580738
92   1.397131  1.465120
53   1.466073  1.029997
98  -0.432471 -0.710493

In [30]:
X= exam_df.drop(['math score','reading score','writing score'],axis=1)
Y= exam_df['math score']

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

linear_model= LinearRegression(fit_intercept=True).fit(x_train,y_train)
print('training score', linear_model.score(x_train,y_train))
y_pred= linear_model.predict(x_test)
print('testing score',r2_score(y_test,y_pred))

training score 0.37698240347221856
testing score 0.2942134465762922

In [31]:
X= exam_df.drop(['math score','writing score'],axis=1)
Y= exam_df['math score']

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

linear_model= LinearRegression(fit_intercept=True).fit(x_train,y_train)
print('training score', linear_model.score(x_train,y_train))
y_pred= linear_model.predict(x_test)
print('testing score',r2_score(y_test,y_pred))

training score 0.8783977243151408
testing score 0.841673230315103